* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

.navmenu {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    li {
        padding: 24px;
        &:hover {
            background-color: orange;
            color: whitesmoke;
            cursor: pointer;
        }
    }
}